<div id="college-student-component">

  <div class="ui-g">
    <div class="ui-md-4 ui-lg-1 ui-sm-6 ui-md-offset-2 ui-lg-offset-1 ui-sm-offset-3">
      <div class="ui-g-12 ui-g-nopad">
        <span>Year</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <span class="text-center full-width-item output-text-orange">
        2015
        </span>
      </div>
    </div>
    <div class="ui-md-4 ui-lg-3 ui-sm-10  ui-sm-offset-1">
      <div class="ui-g-12 ui-g-nopad">
        <span>Campus College Name</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <span class="text-center full-width-item output-text-orange">
          University de Cambridge
        </span>
      </div>
    </div>
    <div class="ui-md-8 ui-lg-3 ui-sm-10 ui-md-offset-2  ui-sm-offset-1 ">
      <div class="ui-g-12 ui-g-nopad">
        <span>College Name</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <span class="text-center full-width-item output-text-orange">
          University de Cambridge
        </span>
      </div>
    </div>
    <div class="ui-md-8 ui-lg-2 ui-sm-10 ui-md-offset-2  ui-sm-offset-1">
      <div class="ui-g-12 ui-g-nopad">
        <span class="blanck_span">Search</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <input pInputText #studentfilter type="text" placeholder="Search" class="full-width-item">
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-2 ui-g-offset-1 ui-lg-2 ui-md-3 ui-sm-6">
      <button *ngIf="tableEditable == false" pButton class="full-width-item" type="button" icon="fa-pencil-square-o" label="Authorize edition"
        (click)="toggleTableEditable();"></button>
      <button *ngIf="tableEditable == true" pButton class="full-width-item ui-button-warning" type="button" icon="fa-square-o"
        label="Block edition" (click)="toggleTableEditable();"></button>
    </div>
    <div class="ui-lg-2 ui-lg-offset-4 ui-md-2 ui-md-offset-3">
      <span class="text-center output-text-orange">
     Total Students : {{students.length}}
    </span>
    </div>

    <div class="ui-lg-2 text-center">
      <button (click)="toggleAddStudentForm()" pButton label="add a student" icon="fa-plus-circle" class="vertical-center"></button>
    </div>
  </div>

  <div class="ui-g table-contenaire">
    <div class="ui-g-10 ui-g-offset-1 ui-lg-10 ">
      <!-- <ng-template pTemplate="globalTemp"> -->
      <p-dataTable #dataTableForm [value]="students" [editable]="tableEditable" [immutable]="false" [responsive]="true" scrollable="false" scrollHeight="23em"
        [globalFilter]="studentfilter" (onEditComplete)="validStudents();">
        <p-column field="registrationNumber" header="Registration No" [editable]="false" [style]="{'width':'10%'}"></p-column>
        <p-column field="rollNumber" header="Roll No" [editable]="true" [style]="{'width':'10%'}"></p-column>
        <p-column field="firstName" header="First Name" [editable]="true" [style]="{'width':'10%'}"></p-column>
        <p-column field="middleName" header="Middle Name" [editable]="true" [style]="{'width':'10%'}"></p-column>
        <p-column field="lastName" header="Last Name" [editable]="true" [style]="{'width':'10%'}"></p-column>
        <p-column field="dateBirth" header="Date of Birth" [editable]="true" [style]="{'width':'10%'}">
          <ng-template let-student="rowData" pTemplate="calendarTemp" class="text-center">
            <p-calendar class="full-width-item" [(ngModel)]="student.dateBirth" [appendTo]="dataTableForm" [showIcon]="false"></p-calendar>
          </ng-template>
        </p-column>
        <p-column field="mobileNumber" header="Mobile Number" [editable]="true" [style]="{'width':'10%'}"></p-column>
        <p-column field="emailAddress" type="email" header="Email Address" [editable]="true" [style]="{'width':'20%'}"></p-column>
        <p-column header="Valid" [style]="{'width':'5%'}">
          <ng-template let-student="rowData" pTemplate="body" class="text-center">
            <div class="full-width-item text-center ui-g-nopad">
              <img *ngIf="student.valid == false" src="../../../assets/img/delete.svg" class="valid-icone ">
              <img *ngIf="student.valid == true" src="../../../assets/img/check.svg" class="valid-icone">
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'5%'}">
          <ng-template let-i="rowIndex" pTemplate="body">
            <button type="button" pButton icon="fa-trash-o" (click)="deleteCollege(i)" class="ui-button-danger" pTooltip="Delete this student"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
      <!-- </ng-template> -->
    </div>
  </div>


  <div class="ui-md-8 ui-md-offset-2 ui-lg-8 ui-lg-offset-2 add-student-contenaire">
    <div *ngIf="studentFormVisible" [@enterAnimation] class="ui-g ui-lg-12  ng-card">
      <div class="ui-md-3 ui-lg-2">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Roll No</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" [(ngModel)]="studentToAdd.rollNumber">
        </div>
      </div>

      <div class="ui-md-3 ui-lg-2 ">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">First Name</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" [(ngModel)]="studentToAdd.firstName">
        </div>
      </div>

      <div class="ui-md-3 ui-lg-2 ">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Middle Name</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" [(ngModel)]="studentToAdd.middleName">
        </div>
      </div>

      <div class="ui-md-3 ui-lg-2">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Last Name</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" [(ngModel)]="studentToAdd.lastName">
        </div>
      </div>

      <div class="ui-md-3 ui-lg-2">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Date of Birth</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <p-calendar class="full-width-item" [(ngModel)]="studentToAdd.dateBirth" [appendTo]="dataTableForm" [showIcon]="false"></p-calendar>
        </div>
      </div>

      <div class="ui-md-3 ui-lg-2">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Mobile Number</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" maxlength="10" [(ngModel)]="studentToAdd.mobileNumber">
        </div>
      </div>

      <div class="ui-md-12 ui-lg-3">
        <div class="ui-g-12 ui-g-nopad">
          <span class="">Email Address</span>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <input pInputText type="text" class="full-width-item" [(ngModel)]="studentToAdd.emailAddress">
        </div>
      </div>

      <div class="ui-md-12 ui-lg-2 ui-lg-offset-4">
        <div class="ui-lg-12 ui-md-3">
          <button pButton type="button" label="Save" icon="fa-plus-circle" class="full-width-item" (click)="addStudentToCollege()"></button>
        </div>
        <div class="ui-lg-12 ui-md-3">
          <button pButton type="button" label="Cancel" icon="fa-times" class="full-width-item ui-button-danger " (click)="toggleAddStudentForm()"></button>
        </div>
      </div>

    </div>
  </div>

  <div class="ui-g">
    <div class="ui-lg-offset-4 ui-lg-2 text-center">
      <p-fileUpload #fubauto mode="basic" name="demo[]" (onUpload)="uploadAuto($event)" auto="true" chooseLabel="Upload Excel Sheet"></p-fileUpload>
    </div>
    <div class="ui-md-offset-3 ui-g-3 ui-md-3 ui-lg-2 ui-sm-6">
      <button pButton class="full-width-item" type="button" icon="fa-floppy-o" label="Save"></button>
    </div>
    <div class="ui-g-3 ui-md-3 ui-lg-2 ui-sm-6">
      <button pButton class="full-width-item" type="button" icon="fa-arrow-up" label="Final Submit" (click)="showDialogFinalSubmit()"></button>
    </div>
  </div>
</div>