<button pButton type="button" [routerLink]="['/campusmaintenance']" label="Campus Management"></button>

<button pButton type="button" [routerLink]="['/collegestudent']" label="College Student"></button>
<button pButton type="button" [routerLink]="['/student']" label="Student"></button>

<button pButton type="button" [routerLink]="['/campuscollege']" label="Campus College Data"></button>
<button pButton type="button" [routerLink]="['/studentdata']" label="student Data"></button>

<router-outlet></router-outlet>
