<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
  <div class="ui-md-12 ui-lg-1 ui-sm-12 ui-lg-offset-1 text-center">
    <div class="ui-g-12 ui-g-nopad"><span class="blanck_span">Years</span></div>
    <div class="ui-g-12 ui-g-nopad">
      <p-dropdown class='input-item' autoWidth [options]="yearSelectItem" placeholder="Year" [(ngModel)]="selectedYear" (onChange)="yearIsSelected()"></p-dropdown>
    </div>
  </div>
  <div class="ui-md-12 ui-lg-3 ui-sm-12">
    <div class="ui-g-12 ui-g-nopad">
      <span class="blanck_span" *ngIf="yearSelected && !campusUpdated">Select Campus name</span>
      <span class="text-orange" *ngIf="!yearSelected">Please, select a year before select a campus</span>
      <span class="text-orange" *ngIf="campusUpdated">Please, save or cancel yours changes before select an other campus</span>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <p-dropdown class="" autoWidth [options]="colleges" [(ngModel)]="selectedCollegeYear" (onChange)="checkCollegeIsCampus();"
                  placeholder="Select Campus Name" [disabled]="!yearSelected || campusUpdated"></p-dropdown>
    </div>
  </div>
  <div class="ui-md-12 ui-lg-2 ui-sm-12">
    <div class="ui-g-12 ui-g-nopad">
      <span>Campus Code</span>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <span class="text-center full-width-item output-text-orange">
        {{selectedCampus.campusCode}}
      </span>
    </div>
  </div>
  <div class="ui-md-12 ui-lg-2 ui-sm-12 ">
    <div class="ui-g-12 ui-g-nopad">
      <span>LMS Group Name</span>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <span class="text-center full-width-item output-text-orange">
        {{selectedCampus.lmsGroupName}}
      </span>
    </div>
  </div>
  <div class="ui-md-12 ui-lg-2 ui-sm-12">
    <div class="ui-g-12 ui-g-nopad">
      <span>Date of Campus</span>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <p-calendar class="full-width-item" [(ngModel)]="selectedCampus.campusDate" [showIcon]="true" [disabled]="!campusSelected"></p-calendar>
    </div>
  </div>
</div>


<div class="ui-g">
  <div class="ui-g-2 ui-g-offset-1 ui-lg-2 ui-md-6 ui-sm-6">
    <button *ngIf="tableEditable == false" pButton class="full-width-item" type="button" icon="fa-pencil-square-o" label="Authorize edition" (click)="toggleTableEditable();"></button>
    <button *ngIf="tableEditable == true" pButton class="full-width-item ui-button-warning" type="button" icon="fa-square-o" label="Block edition" (click)="toggleTableEditable();"></button>
  </div>
</div>


<div class="ui-g table-contenaire">
  <div class="ui-g-10 ui-g-offset-1 ui-lg-10 ">
    <p-dataTable [value]="collegesCampusCollegesYear"
                 [editable]="tableEditable"
                 [immutable]="false"
                 [responsive]="true"
                 (onEditComplete)="updateCollegeRow($event)"
                 class="text-center">
      <p-column field="collegeCode" header="College Code" [editable]="false" [style]="{'width':'10%'}"></p-column>
      <p-column field="collegeName" header="College name" [editable]="true" [style]="{'width':'20%'}"></p-column>
      <p-column field="collegeTpoName" header="TPO Name" [editable]="true" [style]="{'width':'20%'}"></p-column>
      <p-column field="collegeTpoEmailAddress" header="TPO email" [editable]="true" [style]="{'width':'25%'}"></p-column>
      <p-column field="collegeTpoMobileNumber" header="TPO mobile number" [editable]="true" [style]="{'width':'10%'}"></p-column>
      <p-column field="collegeTpoLandLineNumber" header="TPO Landline number" [editable]="true" [style]="{'width':'10%'}"></p-column>
      <p-column [style]="{'width':'5%'}">
        <ng-template pTemplate="header">
          <span>Delete</span>
        </ng-template>
        <ng-template let-cy="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-trash-o" (click)="deleteCollege(cy)" class="ui-button-danger" pTooltip="Delete this college"></button>
        </ng-template>
      </p-column>

    </p-dataTable>
  </div>
</div>

<div class="ui-g">
    <div class="ui-g-6 ui-md-12 ui-lg-6 ui-sm-12 ui-lg-offset-1">
      <div class="ui-g-12 ui-g-nopad">
        <span class="blanck_span" *ngIf="campusSelected">Select College name</span>
        <span class="text-orange" *ngIf="!campusSelected">Please, select a campus before to can add college</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <p-dropdown panelStyleClass="full-width-item"
                    autoWidth
                    [options]="collegesYearToAddItem"
                    [(ngModel)]="selectedCollegeYearToAdd" (onChange)="addCollegeButton=false"
                    [disabled]="!campusSelected"
                    placeholder="Select College Name">
        </p-dropdown>
      </div>
      </div>
    <div class="ui-g-3 ui-md-6 ui-lg-3 ui-sm-6">
      <div class="ui-g-12 ui-g-nopad">
        <span>College Code</span>
      </div>
      <div class="ui-g-12 ui-g-nopad">
      <span class="text-center full-width-item output-text-orange">
        <span *ngIf="selectedCollegeYearToAdd.id">{{selectedCollegeYearToAdd.college.collegeCode}}</span>
      </span>
      </div>
    </div>
    <div class="ui-g-2 ui-md-6 ui-lg-2 ui-sm-6">
      <div class="ui-g-12 ui-g-nopad"><span class="blanck_span"> Add this college</span></div>
      <div class="ui-g-12 ui-g-nopad">
        <button pButton type="button" icon="fa-plus-circle" (click)="addToCampusColleges()" [disabled]="addCollegeButton" pTooltip="Add college to the campus"></button>
      </div>
    </div>
</div>
<div class="ui-g">
  <div class="ui-lg-offset-7 ui-md-offset-3 ui-g-3 ui-md-3 ui-lg-2 ui-sm-6">
    <button pButton class="full-width-item" type="button" icon="fa-floppy-o" label="Save" (click)="save()"></button>
  </div>
  <div class="ui-g-3 ui-md-3 ui-lg-2 ui-sm-6">
    <button pButton class="full-width-item" type="button" icon="fa-arrow-up" label="Final Submit" (click)="showDialogFinalSubmit()"></button>
  </div>
</div>


<p-dialog header="Selected College" [(visible)]="displayDialogCollegeBecomeCampus" modal="modal" width="300" [responsive]="true" [draggable]="false" [closable]="false">
  This college is not a campus. Do you want to make it a campus ?
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="makeCollegeToCampus()" label="Yes" class="ui-button-success"></button>
    <button type="button" pButton icon="fa-close" (click)="closeDialogCollegeBecomeCampus()" label="No" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Final Submit" [(visible)]="displayDialogFinalSubmit" modal="modal" width="300" [responsive]="true" [draggable]="false" [closable]="false">
  Are you sure to do a final submit ? You will not able to edit campus and colleges properties
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="finalSubmit();" label="Yes" class="ui-button-success"></button>
    <button type="button" pButton icon="fa-close" (click)="closeDialogFinalSubmit()" label="No" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
