<div class="container">
  <div class="ui-g">
    <div class="ui-g-2 ui-sm-4 ui-md-4 ui-lg-2 ui-lg-offset-1">
      <p-dropdown [options]="yearSelectItem" [(ngModel)]="selectedYear"  class="text-center full-width-item" autoWidth placeholder="Year" (onChange)="yearIsSelected($event)"></p-dropdown>
    </div>
    <div class="ui-g-4 ui-sm-4 ui-md-4 ui-lg-2">
      <p-dropdown [options]="campusSelectItem" [(ngModel)]="selectedCampus" class="text-center full-width-item" autoWidth placeholder="Select Campus Name" [disabled]="!yearSelectedFlag" (onChange)="campusIsSelected()"></p-dropdown>
    </div>
    <div class="ui-g-3 ui-sm-12 ui-md-12 ui-lg-3">
      <p-dropdown [options]="collegeYearSelectItem" [(ngModel)]="selectedCollegeYear" class="full-width-item" autoWidth placeholder="Select College Name" [disabled]="!campusSelectedFlag" (onChange)="collegeYearIsSelected()"></p-dropdown>
    </div>
    <div class="ui-g-3 ui-sm-12 ui-md-12 ui-lg-3">
      <input pInputText #studentfilter type="text" placeholder="Search" class="full-width-item">
    </div>
  </div>

  <br>

  <div class="ui-g">
    <div class="ui-g-2 ui-g-offset-1 ui-lg-2 ui-md-6 ui-sm-6">
      <button *ngIf="editButtonSelected == false" pButton class="full-width-item" type="button" icon="fa-pencil-square-o" label="Authorize edition" (click)="editStudent()"></button>
      <button *ngIf="editButtonSelected == true" pButton class="full-width-item ui-button-warning" type="button" icon="fa-square-o" label="Block edition" (click)="editStudent();"></button>
    </div>
  </div>

  <div class="ui-g table-contenaire">
    <div class="ui-g-10 ui-g-offset-1">
      <p-dataTable [immutable]="false"
                   [value]="students"
                   [responsive]="true"
                   [scrollable]="true"
                   scrollHeight="25em"
                   [editable] = "editButtonSelected"
                   [globalFilter]="studentfilter"
                   class="text-center">
        <p-column field="registrationNumber" header="Registration No" [style]="{'width':'6%'}" [editable]="false" ></p-column>
        <p-column field="college_name" header="College" [editable]="false" [style]="{'width':'8%'}"></p-column>
        <p-column field="student_name" header="Student Name" [editable]="false" [style]="{'width':'10%'}"></p-column>
        <p-column field="date_birth" header="Date of Birth" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="email_address" header="Email Address" [editable]="true" [style]="{'width':'15%'}"></p-column>
        <p-column field="tenth_percent" header="10th Class %age" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="twelfth_percent" header="12th/Diploma %age" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="graduation_percent" header="Graduation %age" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="postgraduation_percent" header=" Post Grad %age" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="tech_score" header="Technical Score" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="attitude_score" header="Attitude Score" [editable]="false" [style]="{'width':'7%'}"></p-column>
        <p-column field="status" header="Status" [editable]="true" [style]="{'width':'8%'}"></p-column>
        <p-column [style]="{'width':'5%'}">
          <ng-template let-i="rowIndex" pTemplate="body">
            <p-checkbox></p-checkbox>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>


  <div class="ui-g">
    <div class="ui-g-3 ui-sm-6 ui-md-6 ui-lg-3 ui-lg-offset-2 text-center">
      <button pButton type="button" label="Extract Student Detail" class="full-width-item"></button>
    </div>
    <div class="ui-g-3 ui-sm-6 ui-md-6 ui-lg-3 text-center">
      <button pButton type="button" label="Save Updates" class="full-width-item"></button>
    </div>
    <div class="ui-g-3 ui-sm-12 ui-md-12 ui-lg-3 text-center">
      <button pButton type="button" label="Resend Link to Selected" class="full-width-item"></button>
    </div>
  </div>
</div>
