  <div class="ui-g">
    <div class="ui-g-3 ui-sm-10 ui-md-4 ui-lg-2 ui-lg-offset-2 ui-md-offset-2 ui-sm-offset-1 text-center full-width-item">
      <p-dropdown [options]="yearSelectItem" [(ngModel)]="selectedYear" [autoWidth]="false" placeholder = "Year"></p-dropdown>
    </div>
    <div class="ui-g-5 ui-sm-10 ui-md-4 ui-lg-3 ui-sm-offset-1 text-center full-width-item">
      <p-dropdown [options]="campuses" [(ngModel)]="selectedCampus" [autoWidth]="false" placeholder = "Select Campus Name"></p-dropdown>
    </div>
    <div class="ui-g-4 ui-sm-10 ui-md-8 ui-lg-3 ui-sm-offset-1 text-center ui-md-offset-2">
      <input pInputText #campusfilter type="text" placeholder="Search" class="full-width-item">
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-10 ui-g-offset-1 ui-lg-10">
      <p-dataTable [immutable]="false" [value]="campusArray" [responsive]="true" [scrollable]="true" scrollHeight="25em" [editable] = "false" [globalFilter]="campusfilter" class="full-width-item">
        <p-column field="college_name" header="College Name" [editable]="true" ></p-column>
        <p-column field="tpo_details" header="TPO Details" [editable]="true"  ></p-column>
        <p-column field="total_students" header="Total No. Students" [editable]="true"></p-column>
        <p-column field="link_clicked" header="Link Clicked" [editable]="true" ></p-column>
        <p-column field="total_applied" header="Total Applied for Campus" [editable]="true" ></p-column>
        <p-column field="total_aptitude" header="Total Passed Aptitude" [editable]="true" ></p-column>
        <p-column field="total_technical" header="Total Passed Technical" [editable]="true" ></p-column>
        <p-column field="overall_passed" header="Overall Passed" [editable]="true"></p-column>
        <p-column field="status" header="Status" [editable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-2 ui-sm-6 ui-md-4 ui-lg-2 ui-lg-offset-7 ui-md-offset-2">
        <button pButton type="button" label="Extract LMS User Data" class="full-width-item" style="float: right;"></button>
      </div>
      <div class="ui-g-2 ui-sm-6 ui-md-4 ui-lg-2">
        <button pButton type="button" label="Extract Data to Excel" class="full-width-item" style="float: right;"></button>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 ui-sm-6 ui-md-4 ui-lg-2 ui-lg-offset-7 ui-md-offset-2">
        <button pButton type="button" label="Upload LMS Scores" class="full-width-item" style="float: right;"></button>
      </div>
      <div class="ui-g-2 ui-sm-6 ui-md-4 ui-lg-2">
        <button pButton type="button" label="Send Hall Tickets To College" class="full-width-item" style="float: right;"></button>
      </div>
    </div>
  </div>


